@charset "UTF-8";
body {
	background-color: #000;
}

article {
	border-top: 1px solid #c4c8c9;
}
h2 {
	padding: 58px 0 56px;
}

.info_main {
	margin: 60px 30px;
	padding: 58px 30px;
	border: 5px solid #d6dee0;
}
.info_main section {
	padding-bottom: 46px;
	line-height: 1.4;
}

.info_main section h3 {
	color: #f33342;
	padding-bottom: 16px;
}


.cast a {
	text-decoration: underline;
}
.ticket section {
	text-align: left;
}
.ticket section h4 {
	text-align: center;
}

.rock {
	background: url(http://anime-jam.com/assets/fig/common/bg_rock.gif);
}
.pop {
	background: url(http://anime-jam.com/assets/fig/common/bg_pop.gif);
}
.stage {
	padding: 56px 0 60px;
}
.stage h3 {
	padding-bottom: 24px;
}
.stage ul {
	width: 690px;
	text-align: center;
	margin: 0 auto;
}
.stage ul li {
	display: inline-block;
	position: relative;
	top:0;
	left:0;
	width: 145px;
	height: 236px;
	margin: 26px 0 0 20px;
	text-align: left;
	vertical-align: top;
}
.stage ul li:first-child {
	margin-left: 0;
}
.stage ul li .title, .kv {
	position: absolute;
	top:0;
	left:0;
}

.live ul li {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	width: 224px;
	height: 240px;
	margin: 0 0 30px 0;
	line-height: 1.4;
}

.rock section ul li .chara {
	color: #f4f134;
	font-size: 0.8rem;
	margin: 20px 0 10px 0;
}
.rock section ul li .cast {
	margin: 0 0 24px 0;
}


.pop section ul li .chara {
	color: #36bcd8;
	font-size: 0.7rem;
	margin: 8px 0 4px 0;
}
.pop section ul li .cast {
	margin: 0 0 24px 0;
}

.live_jitsuha li {
	width: 145px!important;
	padding: 0!important;
}

section h4 {
	padding: 56px 0 30px;
}
.live .title {
	padding: 56px 0 4px;
}
.live .attention {
	font-size: 0.7rem;
}
.live .artist {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin: 30px 0;
	line-height: 1.4;
}
.andmore {
	margin-top: 80px;
}

/**/
span {
	font-size: 0.7rem;
}