@charset "UTF-8";

html, body {
    width: 750px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-family: "Avenir Next", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "メイリオ", Meiryo, Osaka, sans-serif;    font-size: 26px;
    letter-spacing: 0.025em;
    -webkit-text-size-adjust: 100%;
}

#wrapper {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

header {
	position: relative;
	width: 100%;
	height: 120px;
}
header h1 {
	width: 310px;
	height: 120px;
	margin-left: 220px;
}
header .menuBtn {
	position: absolute;
	top:0;
	right: 2px;
}

nav {
	display: none;
	position: absolute;
	top: 120px;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f33342;
	z-index: 999;
}
nav .menu {
	border-bottom:4px solid #f5717e;
}
nav .menu ul {
	display: inline-block;
	width: 300px;
	padding: 30px 0 28px;
}
nav .menu ul:first-child {
	margin-right: 20px;
}
nav .menu li {
	width: 300px;
	height: 95px;
}
nav .nav_lineup h3 {
	margin: 54px 0;
}
nav .nav_lineup ul {
	width: 630px;
	margin: 0 auto;
	text-align: left;
}
nav .nav_lineup ul li {
	display: inline-block;
	width: 192px;
	margin: 0 0 30px 18px;
	vertical-align: top;
}
nav .nav_lineup ul li a {
	color: #fff;
	font-size: 0.9rem;
}
nav .nav_lineup ul li:first-child {
	margin-left: 0;
}
nav .nav_lineup ul li img {
	padding-bottom: 24px;
}


footer {
	background-color: #f1f1f1;
	font-size: 0.7rem;
	color: #f33342;
}
footer .copy {
	font-size: 0.7rem;
	line-height: 1.4;
	padding: 52px 0 56px;
}
footer .pageTop img {
	vertical-align: bottom;
}

/**/
a {
	color: #f33342;
}