@charset "UTF-8";
/* Template 
   v0.1 | 20150430
   License: none (public domain)
   ―
*/

@import 'functions';

@keyframes infiniteScroll {
    0% {
        background-position:0% 0%;
    }
    100% {
        background-position:94.5% 0%;
    }
}

#wrap{
	min-width: 1180px;
	position: relative;
	z-index:1;
}
// ------------------
// header 
// ------------------
header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	z-index:2;
	background: #fff;
}
h1{
	float: left;
	margin-top: 13px;
	margin-left: 28px;
	@include easing;
	&:hover{
		opacity: 0.7;
		@include easing;
	}

}
nav{
	float: right;
	ul{
		width: 392px;
		letter-spacing: -.40em;
		li{
			letter-spacing: normal;
			display: inline-block;
			height: 75px;
			overflow: hidden;
			margin-left: 35px;
			&:first-child{
				margin-left: 0px;
			}
			img{
				vertical-align: top;
			}
			&:hover{
				img{
					margin-top: -75px;
				}
			}
		}
		.active{
			img{
				margin-top: -75px!important;
			}
		}
		.disable{
			img{
				margin-top: -75px!important;
			}
		}
	}
}

.mod-header-ticketLink{
	float: right;
	height: 75px;
	overflow: hidden;
	margin-left: 29px;
	&:hover{
		img{
			margin-top: -75px;
		}
	}
	img{
		vertical-align: top;
	}
}

.mod-header-lineup{
	display: none;
	clear: both;
	position: absolute;
	top: 75px;
	left: 0;
	width: 100%;
	height: 234px;
	background: rgba(243, 51, 66,0.9);
	letter-spacing: -.40em;
	text-align: center;
	padding-top: 30px;
}

.mod-header-lineupItem{

	letter-spacing: normal;
	display: inline-block;
	margin-left: 20px;
	&:first-child{
		margin-left: 0px;
	}
	&:hover{
		opacity: 0.75;
	}
	a{
		color: #fff;
		text-decoration: none;
	}
	p{
		text-align: left;
		font-size: 15px;
		line-height: 1.25em;
		color: white;
		width: 101px;
		img{
			width: 100%;
			height: auto;
		}
		&:first-child{
			margin-bottom: 11px;
		}
	}
}

// 
// footer
// 
footer{
	position: relative;
	width: 100%;
	height: 130px;
	background: #F1F1F1;
	display: table;
}
.mod-copyright{
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	font-size: 11px;
	color: #f33342;
}

.mod-pageTop{
	position: fixed;
	bottom: 70px;
	right: 30px;
	cursor: pointer;
	@include easing;
	&:hover{
		opacity: 0.7;
		@include easing;
	}
}


// layout-fixedObj
.layout-fixedObj{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
