@charset "UTF-8";
/* Template 
   v0.1 | 20150430
   License: none (public domain)
   ―
*/

@import 'functions';


// ------------------
// layout-eventinfo
// ------------------
.layout-eventinfo{
	min-width: 1180px;
	margin-top:75px;
}
.mod-eventinfo-title{
	padding-top: 59px;
	margin: 0 auto 61px;
	width: 244px;
}
.mod-eventinfo-description{
	width: 750px;
	margin: 0 auto 59px;
}

.layout-eventinfo-datalist{
	width: 740px;
	margin: 0 auto 61px;
	border:5px solid #F1F1F1;
	padding-top: 32px;
	padding-bottom: 31px;
}
.layout-eventinfo-datalist-row{
	margin-top: 30px;
	&:first-child{
		margin-top: 0px;
	}
}
.mod-eventinfo-colTitle{
	float: left;
	margin-left: 63px;
	font-size: 18px;
	color: #f33342;
	width: 140px;
}
.mod-eventinfo-colDate{
	float: left;
	font-size: 18px;
	span{
		font-size: 13px;
	}
}
.mod-eventinfo-colPlace{
	float: left;
	font-size: 18px;
}
.mod-eventinfo-colSponsorship{
	float: left;
	font-size: 18px;
}
.mod-eventinfo-colPrice{
	float: left;
	font-size: 18px;
}
.mod-eventinfo-note{
	text-align: center;
	font-size: 11px;
	margin-bottom: 61px;
}

.layout-stage{
}
.layout-popstage{
	float: left;
	width: 50%;
	background:url('../fig/common/bg_pop.gif') top left; 
	padding-bottom: 60px;
}

.mod-popstage-title{
	width: 256px;
	margin: 0 auto 29px;
	padding-top: 59px;
}

.layout-popstage-mold{
	width: 50%;
}

.layout-popstage-row{
	position: relative;
	margin:13px auto 0;
	width: 547px;
	height: 332px;

	&:first-child{
		margin:0 auto 0;
	}
}

.layout-popstage-col{
	position: relative;
	width: 267px;
	height: 332px;
	float: right;
	display: table;
	&:first-child{
		float: left;		
	}

	@include easing(.25s);
	&:hover{
		.mod-popstage-cover{
			@include easing(.25s);
			top: auto;
			bottom:7px;
			left: auto;
			right: 7px;
		}
		.mod-popstage-thumbnail,.mod-popstage-workTitle{
			@include easing(.25s);
			top: 7px;
			bottom:auto;
			left: 7px;
			right: auto;
		}
	}

}
.mod-popstage-cover{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 260px;
	height: 325px;
	background: #36BCD8 top left;
	@include easing(.25s);
}
.mod-popstage-thumbnail{
	position: absolute;
	top: 0;
	left: 0;
	@include easing(.25s);
}
.mod-popstage-workTitle{
	position: absolute;
	top: 0;
	left: 0;
	@include easing(.25s);
}
.mod-popstage-andmore{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}



.layout-rockstage{
	float: left;
	width: 50%;
	background:url('../fig/common/bg_rock.gif') top left;  
	padding-bottom: 60px;
}

.mod-rockstage-title{
	width: 256px;
	margin: 0 auto 29px;
	padding-top: 59px;

}

.layout-rockstage-mold{
	width: 50%;
}

.layout-rockstage-row{
	position: relative;
	margin:13px auto 0;
	width: 547px;
	height: 332px;

	&:first-child{
		margin:0 auto 0;
	}
}

.layout-rockstage-col{
	position: relative;
	width: 267px;
	height: 332px;
	float: right;
	display: table;
	&:first-child{
		float: left;		
	}
	&:hover{
		.mod-rockstage-cover{
			@include easing(.25s);
			top: auto;
			bottom:7px;
			left: auto;
			right: 7px;
		}
		.mod-rockstage-thumbnail,.mod-rockstage-workTitle{
			@include easing(.25s);
			top: 7px;
			bottom:auto;
			left: 7px;
			right: auto;
		}
	}

}

.mod-rockstage-cover{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 260px;
	height: 325px;
	background: #F4F134 top left;
	@include easing(.25s);
}
.mod-rockstage-thumbnail{
	position: absolute;
	top: 0;
	left: 0;
	@include easing(.25s);
}
.mod-rockstage-workTitle{
	position: absolute;
	top: 0;
	left: 0;
	@include easing(.25s);
}
.mod-rockstage-andmore{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}