@charset "UTF-8";
/* reset
==========================================================================================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, verdana,"ＭＳ Ｐゴシック", sans-serif;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

input, textarea {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

a:focus {
  outline: none;
}

* html .clearfix {
  height: 1px;
  /*＼*/
     /*/
height: auto;
overflow: hidden;
/**/
}

.both {
  clear: both;
}

/*==========================================================================================

	// 基本

==========================================================================================*/
body {
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  min-width: 1280px;
  background: #fff;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
}

.fontS {
  font-size: 90%;
}

.sp_con {
  display: none !important;
}

span.pc_txt {
  display: block;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 100%;
    font-size: 14px;
    line-height: 1.5;
  }
  body .pc_con {
    display: none !important;
  }
  body .sp_con {
    display: block !important;
  }
  body span.sp_txt {
    display: block;
  }
  body span.pc_txt {
    display: inline;
  }
}
a {
  color: #555;
  text-decoration: none;
}

a:hover {
  color: #666;
}

/* clearfix */
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
em {
	font-weight: bold;
}
header,
footer .inner,
#contents {
  min-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  header,
  footer .inner,
  #contents {
    min-width: 100%;
    margin: 0 auto;
  }
}
/*==========================================================================================

	■ header / footer

==========================================================================================*/
/*  header 
===================================================================*/
#header {
	position: fixed;
	height: 80px;
	width: 100%;
	background: #e50038;
	opacity: 0.9;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.7);
	z-index: 1;
	box-sizing: border-box;
}
#header .header-nav {
	width: 1280px;
	margin: 0 auto;
}
#header .nav-h1,
#header .nav-ul,
#header .nav-sns {
	display: inline-block;
	vertical-align: top;
}
#header .nav-h1 {
	padding: 13px 0 0 20px;
}
#header .nav-ul {
	padding-top: 27px;
	margin-left: 7px;
}
#header .nav-ul > li {
	display: inline-block;
	float: left;
}
#header .nav-ul > li + li {
	margin:0 0 0 23px;
}
#header .nav-sns {
	margin-left: 26px;
	padding-top: 21px;
}
#header .nav-sns > li {
	display: inline-block;
}
#header .nav-sns > li + li {
	margin-left: 12px;
}
#header .nav-sns > li > a {
	display: block;
}
@media screen and (max-width: 767px) {
	#header {
		background: transparent;
		box-shadow: none;
		height: auto;
		text-align: left;
		transition: .3s;
	}
	#header.is-active {
		background-color: #e50038;
		height: 100%;

	}
	#header .header-nav {
		width: 100%;
	}
	#header .nav-h1 {
		padding-top: 10px;
		padding-left: 8px;
	}
	#header .nav-h1 > img{
		width: 145px;
	}

	#header .nav-ul {
		padding-top: 26px;
		margin-left: 0px;
		display: none;
	}
	#header.is-active .nav-ul {
		display: block;
	}
	#header .nav-ul > li {
		display: block;
		float: none;
	}
	#header .nav-ul > li img{
		width: 100%;
	}
	#header .nav-ul > li + li {
		margin: 0 auto;
	}
	#header .nav-sns {
		display: none;
		margin-left: 0;
	}
	#header.is-active .nav-sns {
		display: block;
		text-align: center;
	}
/* メニューボタン */
	#header .nav-btn-wrapper {
		position: absolute;
		right: 0;
		top: 0;
	}
	#header .nav-btn {
		background: url(../images/sp/navi_bg.png) 0 0 no-repeat;
		background-size: 100%;
		width: 55px;
		height: 55px;
		position: relative;
	}
	#header .nav-btn span {
		position: absolute;
		left: 9px;
		width: 35px;
		height: 5px;
		background-color: #000;
		display: inline-block;
		transition: all .4s;
		box-sizing: border-box;
	}
	#header .nav-btn span:nth-of-type(1) {
		top: 10px;
	}
	#header.is-active .nav-btn span:nth-of-type(1) {
		webkit-transform: translateY(10px) rotate(-45deg);
		transform: translateY(13px) rotate(-46deg);
		width: 37px;
	}
	#header .nav-btn span:nth-of-type(2) {
		top: 25px;
	}
	#header.is-active .nav-btn span:nth-of-type(2) {
		opacity: 0;
	}
	#header .nav-btn span:nth-of-type(3) {
		bottom: 10px;
	}
	#header.is-active .nav-btn span:nth-of-type(3) {
		-webkit-transform: translateY(-8px) rotate(45deg);
		transform: translateY(-16px) rotate(45deg);
		width: 37px;
	}
}

/*  footer
===================================================================*/
#footer {
	background: #e50038;
	color: #FFF;
	width: 100%;
	height: 50px;
	font-size: 10px;
	text-align: center;
	padding-top: 10px;
	box-sizing: border-box;
}
@media screen and (max-width: 767px) {
	#footer {
		height: auto;
	}
}
/*==========================================================================================

	contents

==========================================================================================*/
/* ■ contents共通
===================================================================*/
.common-bg_red,
#top #contents .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #e50038 !important;
}
.common-cl_red {
	color: #e50038 !important;
}
#contents {
	background: url(../images/bg_under01.jpg) top left repeat;
	padding: 113px 0 92px;
}
#contents .contents-subBg {
	position: absolute;
	width: 100%;
	min-width: 1280px;
}
#contents .contents-subBg > img {
	width: 100%;
}
#contents .contentsInner-h2 > img {
	width: 54.921875%; /* ((703 / 1280) * 100) */
}
#contents .contentsInner {
	background: url(../images/bg_large01.png) 20px right no-repeat;
}
@media screen and (max-width: 767px) {
	#contents {
		background: url(../images/sp/bg_under01_sp.jpg) top left repeat;
		background-size: 7.96875%;
		padding: 76px 0 0;
	}
	#contents .contents-subBg {
		min-width: 100%;
	}
	#contents .contentsInner-h2 > img {
		width: 100%;
	}
}
/* news
===================================================================*/

@media screen and (max-width: 767px) {

}
/* Event info
===================================================================*/
#info #contents {
	background: url(../images/bg_under01.jpg) top left repeat;
	padding: 113px 0 92px;
}
#info #contents .contents-subBg {
	position: absolute;
	width: 100%;
	min-width: 1280px;
}
#info #contents .contents-subBg > img {
	width: 100%;
}
#info #contents .contentsInner {
	width: 100%;
	top: 5.7%;
}
#info #contents .contentsInner-h2 > img {
	width: 54.921875%; /* ((703 / 1280) * 100) */
}
#info #contents .contentsInner-text {
	padding: 2.5% 0 0 3.5%;
	width: 100%;
	box-sizing: border-box;
}
#info #contents .contentsInner-text > img {
	width: 81.6%; /* ((1008 / 1280) * 100) */
}
#info #contents .info-list {
	margin-top: 2.8%;
}
#info #contents .info-list li {
	width: 50%;
}
#info #contents .info-list li:nth-of-type(odd) {
	float: right;
}
#info #contents .info-list li:nth-of-type(2) {
	padding-top: 3.8%;
	margin-bottom: 12.6%;
}
#info #contents .info-list li:nth-of-type(4) {
	margin-top: -5%;
	margin-bottom: 17%;
}
#info #contents .info-list li:nth-of-type(6) {
	margin-top: -13.2%;
	margin-bottom: 4.5%;
}
#info #contents .info-list li:nth-of-type(8) {
	margin-top: 7.3%;
}
#info #contents .info-list li:nth-of-type(9) {
	margin-top: 3.7%;
}
#info #contents .info-list li:nth-of-type(10) {
	margin-top: 6.5%;
}
#info #contents .info-list li:nth-of-type(odd) .info-list_ttl {
	text-align: right;
}
#info #contents .info-list_ttl > img{
	width: 92.65625%;/* ((593 / 640) * 100) */
}
#info #contents .info-list_text {
	padding-top: 0%;
/*
	font-size: 1.54vw;
*/
	font-size: 20px;
	line-height: 2.1;
	margin-top: 1%;
}
#info #contents li:nth-of-type(odd) .info-list_text {
	padding-left: 14%;
}
#info #contents li:nth-of-type(even) .info-list_text {
	padding-right: 14%;
	text-align: right;
}
#info #contents .info-list li:nth-of-type(5) .info-list_text {
	margin-bottom: 4%;
}
#info #contents .info-list_text .text__date {
	margin-top: -1%;
	display: block;
	letter-spacing: 3px;
}
#info #contents .info-list_text .text__date > span{
	font-size: 1.4em;
}
#info #contents .info-list_text .text__caution {
	font-size: 0.8em;
	line-height: 2.1;
	display: block;
}
#info #contents .info-list_text .text__schedule {
	display: block;
	line-height: 1.8;
	margin-top: 3%;
/*
	font-size: 1.5vw;
*/
	font-size: 19px;
}
#info #contents .info-list_text .text__schedule + .text__schedule {
	margin-top: 1.5%;
}
#info #contents .info-list .info-btn {
	margin: 30px 0 0 13%;
	position: relative;
	width: 318px;
	display: block;
}
#info #contents .info-list .acter-btn {
	margin: 14px 0 0 13%;
	position: relative;
	width: 463px;
	display: block;
}
#info #contents .info-list_text .text__inq {
/*
	font-size: 1.27vw;
*/
	font-size: 16px;
	line-height: 1.9;
	display: block;
}
#info #contents .info-list_text .text__inq + .text__inq {
	margin-top: 5.6%;
}
@media screen and (max-width: 767px) {
	#info #contents {
		background: url(../images/sp/bg_under01_sp.jpg) top left repeat;
		background-size: 7.96875%;
		padding: 76px 0 0;
	}
	#info #contents .contents-subBg {
		min-width: 100%;
	}
	#info #contents .contentsInner-h2 > img {
		width: 100%;
	}
	#info #contents .contentsInner-text {
		padding: 0;
		margin-top: 30px;
	}
	#info #contents .contentsInner-text > img {
		width: 100%;
	}
	#info #contents .info-list {
		margin-top: 2.8%;
	}
	#info #contents .info-list li {
		width:100%;
	}
	#info #contents .info-list li:nth-of-type(odd) {
		float: none;
	}
	#info #contents .info-list li + li,
	#info #contents .info-list li:nth-of-type(2),
	#info #contents .info-list li:nth-of-type(4),
	#info #contents .info-list li:nth-of-type(6),
	#info #contents .info-list li:nth-of-type(8),
	#info #contents .info-list li:nth-of-type(9) {
		margin-top: 26px;
		padding-top: 0;
		margin-bottom: 0;
	}
	#info #contents .info-list {
		margin-top: 32px;
	}
	#info #contents .info-list_ttl > img {
		width: 100%;
	}
	#info #contents li:nth-of-type(1) .info-list_ttl > img {
		width: 95.99375%;
	}
	#info #contents li:nth-of-type(odd) .info-list_ttl > img {
		margin-left: auto;
	}
	#info #contents .info-list_text {
		font-size: 14px;
		margin-top: 15px;
		line-height: 1.8;
	}
	#info #contents li:nth-of-type(odd) .info-list_text {
		padding-left: 30px;
	}
	#info #contents li:nth-of-type(even) .info-list_text {
		padding-right: 38px;
	}
	#info #contents .info-list li:nth-of-type(5) .info-list_text {
		margin-bottom: 0;
	}
	#info #contents .info-list_text .text__date > span {
		font-size: 1.2em;
	}
	#info #contents .info-list_text .text__schedule {
		font-size: 15px;
		line-height: 1.5;
		margin-top: 17px;
	}
	#info #contents .info-list_text .text__schedule + .text__schedule {
		margin-top: 17px;
	}
	#info #contents .info-list_text .text__inq {
		font-size: 12px;
		line-height: 2.2;
	}
	#info #contents .info-list .info-btn {
		width: 299px;
		margin: 14px auto 0;
	}
	#info #contents .info-list .info-btn > img {
		width: 100%;
	}
	#info #contents .info-list .acter-btn {
		width: 300px;
		margin: 18px auto 54px;
	}
	#info #contents .info-list .acter-btn > img {
		width: 100%;
	}
}
/* LINE UP DETAIL
===================================================================*/


@media screen and (max-width: 767px) {
}
/* EVENT CAST
===================================================================*/

@media screen and (max-width: 767px) {
}
/* ticket
===================================================================*/

@media screen and (max-width: 767px) {

}
/*==========================================================================================

	top

==========================================================================================*/

#top #contents {
	background: url(../images/top_kv.jpg) top center no-repeat;
	width: 100%;
	height: 0;
	padding-top: 56.25%; /* ((1080 / 1920) * 100) */
	background-size: cover;
	position: relative;
}
#top #contents .contentsInner {
	position: absolute;
	bottom: 3px;
	width: 1280px;
	left: 0;
	right: 0;
	top: auto;
	margin: auto auto;
	text-align: center;
}
#top #contents .contentsInner > div {
	display: inline-block;
	vertical-align: top;
	color: #FFF;
	text-align: left;
}
#top #contents .contentsInner-ticket {
	float: right;
	margin-right: 30px;
}
#top #contents .contentsInner-news {
	background: url(../images/flame_news.png) 0 0 no-repeat;
	width: 548px;
	height: 188px;
	float: left;
}
#top #contents .contentsInner-news_tl {
	display: block;
	margin: 48px 0 0 26px;
	width: 502px;
	overflow: hidden;
	font-size: 0;
	height: 108px;
}
#top #contents .contentsInner-news_tl .news_tl-li + .news_tl-li {
	margin-top: 8px;
}
#top #contents .contentsInner-news_tl .news_tl-li a {
	color: #FFF;
}
#top #contents .contentsInner-news_tl .news_tl-img,
#top #contents .contentsInner-news_tl .news_tl-text {
	display: inline-block;
	vertical-align: top;
}
#top #contents .contentsInner-news_tl .news_tl-text {
	padding-left: 12px;
	width: 405px;
}
#top #contents .contentsInner-news_tl .tl-text_date {
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
}
#top #contents .contentsInner-news_tl .tl-text_detail {
	font-size: 12px;
}
#top #contents .contentsInner-news_tl {
}
#top #contents .contentsInner-twitter {
	background: url(../images/flame_twitter.png) 0 0 no-repeat;
	width: 348px;
	height: 188px;
	margin-left: 12px;
	float: left;
}
#top #contents .contentInner-twitter_content {
	width: 298px;
	margin: 0 auto;
	overflow: hidden;
	margin: 40px 0 0 30px;
	height: 115px;
	float: left;
}
#top #contents .timeline-TweetList {
	color: #FFF;
}
/* スクロールバー */
#top #contents .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	line-height: 30px;
	border-radius: 0;
	width: 8px;
}
#top #contents .mCSB_scrollTools .mCSB_draggerRail {
	width: 8px;
	background: #959595;
	border-radius: 0;
}
@media screen and (max-width: 767px) {
	#top #contents {
		background: transparent;
		width: 100%;
		padding-top: 0;
		height: auto;
	}
	#top #contents .contentsInner {
		width: 100%;
		position: static;
	}
	#top #contents .contentsInner-spVisual {
		width: 100%;
		display: block;
	}
	#top #contents .contentsInner-spVisual > img{
		width: 100%;
	}
	#top #contents .contentsInner-ticket {
		float: none;
		margin-right: 0;
		margin-top: -5px;
	}
	#top #contents .contentsInner-ticket > img{
		width: 100%;
	}
	#top #contents .contentsInner-news {
		background: url(../images/sp/flame_news.jpg) 0 0 no-repeat;
		width: 100%;
		height: 0;
		padding-top: 70.9375%;
		background-size: cover;
		float: none;
		display: block;
		position: relative;
	}
	#top #contents .contentsInner-news_tl,
	#top #contents .contentInner-twitter_content {
		position: absolute;
		top: 0;
		width: 84%;
		margin: 15% 0 0 9%;
		height: 70%;
	}
	#top #contents .contentsInner-news_tl .news_tl-img > img {
		width: 72px;
	}
	#top #contents .contentsInner-news_tl .news_tl-li a {
		display: table;
	}
	#top #contents .contentsInner-news_tl .news_tl-img,
	#top #contents .contentsInner-news_tl .news_tl-text {
		display: table-cell;
	}
	#top #contents .contentsInner-twitter {
		background: url(../images/sp/flame_twitter.jpg) 0 0 no-repeat;
		width: 100%;
		height: 0;
		padding-top: 73.28125%;
		background-size: cover;
		float: none;
		margin-left: 0;
		display: block;
		position: relative;
	}
}
