@charset "UTF-8";
/* Template 
   v0.1 | 20150430
   License: none (public domain)
   ―
*/
@import 'functions';


// ------------------
// layout-ticket
// ------------------
.layout-ticket{
	margin-top:75px; 
	min-width: 1180px;
}

.mod-ticket-title{
	width: 144px;
	margin: 0 auto 61px;
	padding-top: 59px;
}
.mod-ticket-description{
	width: 420px;
	margin: 0 auto 31px;	
}

.layout-ticket-aside{
	width: 420px;
	height: 189px;
	margin: 0 auto 61px;
	border:5px solid #F1F1F1;
}
.mod-ticket-price{
	padding-top: 34px;
	font-size: 20px;
	color: #f33342;
	text-align: center;
	margin-bottom: 27px;
}
.layout-ticket-noteList{
    padding: 0 0 0 20px;
    font-size: 12px;
    margin: 30px 0 0;
    text-align: left;
	li{
		margin-top: 8px;
		line-height: 1.6em;
	    width: 370px;
	    padding-left: 1em;
	    text-indent: -1em;
		&:first-child{
			margin-top: 0px;
		}
	}
}
.mod-ticket-preorderBtn{
	@include easing;
	margin: 0 auto 100px;
	width: 428px;
	&:hover{
		opacity: 0.75;
	}
}
.ticket-box{
  display:inline-block; 
  width:480px;
}
.ticket-wrap{
	text-align: center;
	width:980px;
	margin:0 auto;
}
